<div id="component">
  <app-head [pageTitle]="pageTitle"></app-head>
  <main id="main">
      <table class="table table-sm" *ngIf="use">
        <tbody>
          <tr>
            <th>Id</th>
              <td><input [(ngModel)]="use.id" type="number" disabled></td>
           <tr>
           <tr>
            <th>UserName</th>
              <td><input [(ngModel)]="use.userName" type="text" [disabled]="IsDetailPage"></td>
          <tr>
          </tr>
            <th>LastName</th>
              <td><input [(ngModel)]="use.lastName" type="text" [disabled]="IsDetailPage"></td>
          <tr>
            <tr>
              <th>Phone</th>
              <td><input [(ngModel)]="use.phone" type="number" [disabled]="IsDetailPage"></td>
              <tr>
              <tr>
                <th>Email</th>
                <td><input [(ngModel)]="use.email" type="text" [disabled]="IsDetailPage"></td>
                <tr>
                  <tr>
                  <th>IsReviewer</th>
                  <td><input [(ngModel)]="use.isReviewer" type="checkbox" [disabled]="IsDetailPage"></td>
                  <tr>
                    <tr>
                    <th>IsAdmin</th>
                    <td><input [(ngModel)]="use.isAdmin" type="checkbox" [disabled]="IsDetailPage"></td>
                    </tr>


        </tbody>

      </table>
      <div>
        <button (click)="verifyDelete()" class="btn btn-danger">Delete</button>'
      </div>
  </main>

</div>
