<div id="component">
<app-head [pageTitle]="pageTitle"></app-head>
<main id="main">
  <a routerLink="/use/create">Create New</a>

    <table class="table table-sm">
      <thead>
        <tr>
          <th>Id</th>
          <th>UserName</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Phone</th>
          <th>Email</th>
          <th>IsReviewer</th>
          <th>IsAdmin</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of use">
          <td>{{u.id}}</td>
          <td>{{u.userName}}</td>
          <td>{{u.firstName}}</td>
          <td>{{u.lastName}}</td>
          <td>{{u.phone}}</td>
          <td>{{u.email}}</td>
          <td>{{u.isReviewer}}</td>
          <td>{{u.isAdmin}}</td>
          <td>
            <a routerLink="/use/detail//{{u.id}}">Detail</a> |
            <a routerLink="/use/edit//{{u.id}}">Edit</a>
          </td>

        </tr>


      </tbody>

    </table>
</main>

  <div>
